<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="assets/fotojb.jpeg" alt="">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Desenvolvido por</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-icon name="accessibility-outline"slot="start"></ion-icon>
      <ion-label> Justin Bieber</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="mail-outline"slot="start"></ion-icon>
      <ion-label> justinlindo@gmail.com</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-chrome"slot="start"></ion-icon>
      <ion-label> www.jbnews.com.br</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-instagram"slot="start"></ion-icon>
      <ion-label> @justinbieber</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-github"slot="start"></ion-icon>
      <ion-label>@JustinB_</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="return-down-forward-outline"slot="start"></ion-icon>
      <ion-label>v.0.0.1</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
